*{
    padding: 0%;
    margin: 0%;
}
body{
    background: url("12.png");
    position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: 0.9s;
}
.header{
    margin-top: 10px;
}